################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication1
/WebApplication1/obj/Debug
/WebApplication1/bin
/WebApplication1/WebApplication1.csproj.user
/packages
