<!DOCTYPE html>
<title>My Example</title>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }

    tr:nth-child(odd) {
        background-color: #eee;
    }
</style>

<table>
    <tr>
        <th>Date</th>
        <th>Ticker</th>
        <th>Amount</th>
        <th>Entry Px</th>
        <th>Exlt1</th>
        <th>Price Now</th>
        <th>Realized</th>
        <th>Unrealized</th>
        <th>Total Gain</th>
        <th>OHLC</th>
        <th>Eq.Curve</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>2019-04-01</td>
        <td>AEZS</td>
        <td>10000</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <th><button type="button" class="btn btn-info">Show</button></th>
        <th><button type="button" class="btn btn-info">Show</button></th>
    </tr>
    <tr>
        <td>2019-04-01</td>
        <td>AEZS</td>
        <td>10000</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <th><button type="button" class="btn btn-info">Show</button></th>
        <th><button type="button" class="btn btn-info">Show</button></th>
    </tr>
    <tr>
        <td>2019-04-01</td>
        <td>AEZS</td>
        <td>10000</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <th><button type="button" class="btn btn-info">Show</button></th>
        <th><button type="button" class="btn btn-info">Show</button></th>
    </tr>
    <tr>
        <td>2019-04-01</td>
        <td>AEZS</td>
        <td>10000</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <th><button type="button" class="btn btn-info">Show</button></th>
        <th><button type="button" class="btn btn-info">Show</button></th>
    </tr>
    <tr>
        <td>2019-04-01</td>
        <td>AEZS</td>
        <td>10000</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <th><button type="button" class="btn btn-info">Show</button></th>
        <th><button type="button" class="btn btn-info">Show</button></th>
    </tr>
</table>